:root{
    --main: #062863;
    --secondary: #083e9e;
    --text-grey: #4a5568;
    --input-background: #edf2f7;
    --button-primary: #0d60d8;
}

body{
    background: var(--main);
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.space{
    margin-top: 25px;
}



.text-white{
    color: white;
}

.text-center{
    text-align: center;
}

.text-logo{
    font-size: 40px;
    font-weight: 700;
}

.text-main{
    color: var(--secondary);
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: block;
}

.text-lead{
    color: var(--text-grey);
    margin: 0;
    padding: 0;
    display: block;
    font-weight: 400;
    font-size: 14px;
}

.main{

    height: 380px;
    max-width: 400px;
    background-color: white;
    margin: auto;
    border-radius: 15px 15px 15px 0 ;
    padding: 20px;

}

.input{
    background-color: var(--input-background);
    border: none;
    height: 45px;
    outline: none;
    padding-left: 15px;
    border-radius: 3px;
    box-sizing: border-box;
}

.text-label{
    font-weight: 600;
    font-size: 14px;
    color: var(--text-grey);
    padding-bottom: 6px;
    display: block;
}

.full-width{
    width: 100%;
}

.btn-primary{
    height: 45px;
    border-radius: 10px 10px 10px 0 ;
    border: none;
    background-color: var(--button-primary);
    color: white;
    font-size:18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}